<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"> <!-- Resource style -->

<header>
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_item">+Add Item</a></li>
            <li><a href="/items">Items</a></li>
        </ul>
    </div>
        
    <div class="search-bar">
        <form action="/" method="POST">
            <input type="text" name="sku" placeholder="Search SKU">
        </form>
    </div>
</header>