<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Beacon Inventory Tracker</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        
        <div class="content">
            <div class="full-window">
                <h1>Add Item</h1>
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                
                {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <form action="" method="POST" id="add_item">
                    <input type="number" name="sku" placeholder="SKU" min="0" step="1" maxlength="6"/>
                    <br><br>                    
                    <select name="location" form="add_item">
                        <option selected disabled hidden value="default">Select Location</option>
                        <option value="Shop Floor">Shop Floor</option>
                        <option value="Store Room">Store Room</option>
                        <option value="Pelmets">Pelmets</option>
                        <option value="Staff Room">Staff Room</option>
                    </select>
                    <br><br>
                    <textarea name="comment" form="add_item" maxlength="140" rows="3" cols="50" style="resize: none;" placeholder="Comment"></textarea><br><br>
                    <input type="submit" value="Add Item" />
                </form>
            </div>
        </div>
        
        {% include 'common/footer.html' %}
    </body>
</html>