<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Beacon Inventory Tracker</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <script>
            function edit() {
                document.getElementById("location").style.display = "none";
                document.getElementById("comment").style.display = "none";
                document.getElementById("locationForm").style.display = "inline";
                document.getElementById("commentForm").style.display = "inline";
                document.getElementById("editButton").style.display = "none";
                document.getElementById("cancelButton").style.display = "inline";
                document.getElementById("delete_item").style.display = "inline";
                document.getElementById("edit_item").style.display = "inline";
            }
            
            function cancel() {
                document.getElementById("location").style.display = "inline";
                document.getElementById("comment").style.display = "inline";
                document.getElementById("locationForm").style.display = "none";
                document.getElementById("commentForm").style.display = "none";
                document.getElementById("editButton").style.display = "inline";
                document.getElementById("cancelButton").style.display = "none";
                document.getElementById("delete_item").style.display = "none";
                document.getElementById("edit_item").style.display = "none";
            }
        </script>
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        
        <div class="content">         
            <div class="full-window">
                <h1>Item</h1>
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                
                {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <table>
                    <tr>
                        <th style="width: 100px">SKU</th>
                        <th style="width: 200px">Location</th>
                        <th>Comment</th>
                    </tr>
                    <tr>
                        <td><p>{{ sku }}</p></td>
                        <td>
                            <p id="location">{{ location }}</p>
                            <select id="locationForm" name="location" form="edit_item" style="display: none; width: 100%; height: 100%">
                                <option value="Shop Floor" {% if location == "Shop Floor" %}selected="selected"{% endif %} >Shop Floor</option>
                                <option value="Store Room" {% if location == "Store Room" %}selected="selected"{% endif %}>Store Room</option>
                                <option value="Pelmets" {% if location == "Pelmets" %}selected="selected"{% endif %}>Pelmets</option>
                                <option value="Staff Room" {% if location == "Staff Room" %}selected="selected"{% endif %}>Staff Room</option>
                            </select>
                        </td>
                        <td style="padding-right: 5px;">
                            <p id="comment">{{ comment }}</p>
                            <input id="commentForm" type="text" name="comment" form="edit_item" value="{{ comment }}" placeholder="Comment" style="display: none; width: 100%; height: 100%" />
                        </td>
                        <td style="width: 200px">
                            <form action="" method="POST" id="edit_item" style="display: none">
                                <input type="hidden" name="form" value="edit_item" />
                                <input type="submit" value="Update" style="width: 30%; height: 100%; margin: 0;" />
                            </form>
                            
                            <form action="" method="POST" id="delete_item" style="display: none">
                                <input type="hidden" name="form" value="delete_item" />
                                <input type="hidden" name="sku" value="{{ sku }}" />
                                <input type="submit" value="Delete" style="width: 30%; height: 100%; margin: 0;" />
                            </form>
                            
                            <button id="editButton" onClick="edit()" style="width: 100%; height: 100%; margin: 0;">Edit</button>
                            <button id="cancelButton" onClick="cancel()" style="display: none; width: 30%; height: 100%; margin: 0;">Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        {% include 'common/footer.html' %}
    </body>
</html>