<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Beacon Inventory Tracker</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        
        <div class="content">         
            <div class="full-window">
                <h1>Items</h1>
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                
                <table align="center">
                <tr>
                    <th>SKU</th>
                    <th>Location</th>
                    <th>Comments</th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td><a href="/items/{{ item[0] }}">{{ item[0] }}</a></td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        
        {% include 'common/footer.html' %}
    </body>
</html>