.footer-wrapper {
    width: 1040px;
    margin: 0 auto;
}

.footer {
    background: #d3d3d3;
    margin-top: 10px;
    text-align: center;
    height: 200px;
    line-height: 200px;
    width: 1010px;
    margin: 0 15px;
}

.footer p {
    margin: 0;
    padding: 0;
}