.nav {
    float: left;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    font-size: 200%;
}

.nav li a:hover {
    color: #add8e6;
}

.search-bar {
    float: left;
    height: 60px;
    top: 0;
}

.search-bar form {
    height: 60px;
    top: 0;
}

.search-bar input {
    padding: 18px;
    font-size: 200%;
    margin: 0;
    float: left;
}

.search-bar input[type="text"] {
    border: 0;
    height: 60px;
    font-family: "Verdana";
    width: 100%;
    box-sizing: border-box;
}

.search-bar input[type="text"]:focus {
  outline-color: transparent;
  outline-style: none;
}

/*
.search-bar input[type="submit"] {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    outline-color: transparent;
    outline-style: none;
    height: 60px;
    font-family: "Verdana";
}

.search-bar input[type="submit"]:hover {
    background-color: #add8e6;
}
*/

html {
  font-size: 62.5%;
}

header {
  height: 60px;
  background: #ffffff;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 6px -2px #d3d3d3;
  font-size: 62.5%;
  min-width: 800px;
}
