body {
    background-color: #f6f6f6;
    font-size: 1.6rem;
    font-family: "Verdana";
    margin: 0;
}

h1 {
    text-align: center;
}

.content {
    margin: 0 auto;
    height: 100%;
    padding: 100px 20px 20px 20px;
    overflow: auto;
}

.content a {
    color: #a3a3a3;
}

.full-window {
    background-color: #ffffff;
    min-height: 200px;
    font-size: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

table {
    width: 100%;
}

th {
    height: 50px;
}